<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Sign up / Login Form</title>
  <link rel="stylesheet" href="../static/css/signup.css">

</head>


	<header>
		<div class="container">
		  <div class="logo">
			<img src="../static/img/logo.png" alt="Logo" />
			<h3>V&V</h3>

		  </div>
		</div>
	</header>

	<div class="main">  	
		<input type="checkbox" id="chk" aria-hidden="true">

			<div class="signup">
				<form method="POST" action="" class="sign-up-form">

					<label for="chk" aria-hidden="true">Registration</label>
					<input type="nickname" name="nickname" placeholder="nickname" required="">
					<input type="email" name="email" placeholder="Email" required="">
					<input type="password" name="password" placeholder="Password" required="">
					<button>Register</button>
				</form>
			</div>

	</div>
